ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}


/* ======================
          common 
======================== */


.navber{
    padding: 20px 0px;
    
}

.navber .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navber .box .menu ul{
    display: flex;
    column-gap: 50px;
}

 ul{
    margin-top: 0;
    margin-bottom: 0rem;
}

.navber .box .menu ul li a{
    color: black;
    font-size: 19px;
    font-weight: 600;
    position: relative;

}


.navber .box .menu ul li a::after{
    content: "";
    top: 23px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    transition: 0.5s;

}

.navber .box .menu ul li a:hover::after{
    width: 100%;
}

.navber .box .button a{
    color: white;
    font-size: 22px;
    font-weight: 500;
    background-color: rgb(34 197 94 );
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.4s;

}
.navber .box .button a:hover{
    background-color: transparent;
    border: 1px solid black;
    color: black;
}



/* ================ */
.banner-part h1{
    padding-top: 100px;
    width: 400px;
}



.banner-part span{
    color: rgb(34 197 94 );
};

.banner-part .img-part{
    m


    
}





